{# filepath: /Users/alexmacarthur/apps/breakdown/resources/views/output.twig #}
<div class="max-w-full text-white ml-2 space-y-2 mb-2">

    <div class="mt-2">
        <h1 class="font-bold text-sky-500 mb-1">🔍 HTTP Request Breakdown</h1>
        <div class="">
            <span class="font-bold mr-2">{{ breakdown.url }}</span>
            <span class="px-1 bg-green text-black">{{ breakdown.statusCode }}</span>
        </div>
    </div>

    <div>
        <h2 class="font-bold text-sky-500 uppercase mb-1">💿 Overview</h2>
        <table>
            <tbody>
                <tr>
                    <td class="font-bold text-gray">Total Time</td>
                    <td class="font-bold text-white">{{ breakdown.timings.durations.totalTime|number_format(2) }} {{ breakdown.unit }}</td>
                </tr>
                <tr>
                    <td class="font-bold text-gray">TTFB</td>
                    <td class="font-bold text-white">{{ breakdown.timeToFirstByte }} {{ breakdown.unit }}</td>
                </tr>
                <tr>
                    <td class="font-bold text-gray">Response Size</td>
                    <td class="font-bold text-white">{{ (breakdown.responseSizeInBytes / 1024)|number_format(1) }} KB</td>
                </tr>
                <tr>
                    <td class="font-bold text-gray">Status</td>
                    <td class="font-bold text-white">{{ breakdown.statusCode }}</td>
                </tr>
                <tr>
                    <td class="font-bold text-gray">Total Redirects</td>
                    <td class="font-bold text-white">{{ breakdown.redirectCount }}</td>
                </tr>
                <tr>
                    <td class="font-bold text-gray">Redirect Time</td>
                    <td class="font-bold text-white">{% if breakdown.redirectTime > 0 %}{{ breakdown.redirectTime }} {{ breakdown.unit }}{% else %}0 ms{% endif %}</td>
                </tr>
                <tr>
                    <td class="font-bold text-gray">Content Size</td>
                    <td class="font-bold text-white">{{ (breakdown.responseSizeInBytes / 1024)|number_format(1) }} KB</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h2 class="font-bold text-sky-500 uppercase mb-1">⏱️ Timing Breakdown</h2>
        <table>
            <tbody>
                {% for key, label in timingLabels %}
                    {% if attribute(breakdown.timings.durations, key) is defined %}
                        <tr>
                            <td class="font-bold text-gray">{{ label[1] }} {{ label[0] }}</td>
                            <td class="font-bold {{ label[2] }}">{{ (attribute(breakdown.timings.breakdown, key) * 100)|number_format(1) }}%</td>
                            <td class="text-gray">{{ attribute(breakdown.timings.durations, key)|number_format(2) }} {{ breakdown.unit }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if breakdown.location %}
        <div>
            <h2 class="font-bold text-sky-500 uppercase mb-1">📍 Your Location</h2>
            <table>
                <tbody>
                    <tr>
                        <td class="font-bold text-gray">City, Region</td>
                        <td class="font-bold text-white">{{ breakdown.location.city }}, {{ breakdown.location.region }}</td>
                    </tr>
                    <tr>
                        <td class="font-bold text-gray">Country</td>
                        <td class="font-bold text-white">{{ breakdown.location.country }}</td>
                    </tr>
                    <tr>
                        <td class="font-bold text-gray">IP Address</td>
                        <td class="font-bold text-white">{{ breakdown.location.ip }}</td>
                    </tr>
                    <tr>
                        <td class="font-bold text-gray">Coordinates</td>
                        <td class="font-bold text-white">{{ breakdown.location.latitude }}, {{ breakdown.location.longitude }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}

    {# Redirects #}
    {% if breakdown.redirectCount > 0 %}
        <div>
            <h2 class="font-bold text-sky-500 uppercase mb-1">
                Redirects ({{ breakdown.redirectTime|number_format(2) }}ms)
            </h2>

            <div class="ml-3 space-y-2">
                {% for redirect in breakdown.redirects %}
                    <div>
                        <div class="mb-1">
                            <span class="font-bold text-white mr-1">{{ redirect.url }}</span>
                            <span class="mr-1">|</span>
                            <span class="font-bold text-green">{{ redirect.statusCode }}</span>
                        </div>

                        <div>
                            <details>
                                <summary class="text-gray">
                                    Response Headers ({{ redirect.headers|length }})
                                </summary>
                                <div class="mt-1">
                                    {% for header in redirect.headers %}
                                        <div class="flex">
                                            <span class="text-blue font-bold mr-2">{{ header.name }}:</span>
                                            <span class="text-white truncate">{{ header.value }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </details>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
